@import "./reset.scss";
@import "./transition.scss";
@import "./nprogress.scss";
@import "./base.scss";

#app {
  height: 100%;
  width: 100%;
}

.layout-bg {
  background-color: rgb(247, 250, 252);
}