@import "./reset.scss";

#app {
  height: 100%;
  width: 100%;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.transition-all-300 {
  transition-property: all;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .3s;
}

.overflow-hidden {
  overflow: hidden;
}
.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.top-0 {
  top: 0;
}

.left-0 {
  left: 0;
}

.flex {
  display: flex;
}

.flex-y-center {
  display: flex;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-grow {
  flex-grow: 1;
}

.flex-1-hidden {
  flex: 1;
  overflow: hidden;
}

.justify-end {
  justify-content: flex-end;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.gap-8px {
  gap: 8px;
}