/**
 * @author Elwin
 * @description 全局主题变量配置
 */
/* stylelint-disable */
@charset "utf-8";

$base-header-height: 56px !default;
$base-header-z-index: 97 !default;

$base-tabbar-height: 44px !default;
$base-tabbar-z-index: 95 !default;

$base-app-content-height: calc(
  100vh - #{$base-header-height} - #{$base-tabbar-height} - #{$base-tabbar-height}
);

// sidebar
$base-sidebar-width: 220px !default;
$base-sidebar-collapse-width: 64px !default;
$base-sidebar-z-index: 99 !default;

// footer
$base-footer-height: 48px !default;
$base-footer-z-index: 95;

// 菜单颜色
$base-menu-color: #000000e0 !default;
$base-menu-color-active: #409EFF !default;
$base-menu-background: #fff !default;

$nprogress-color: #409EFF !default;

// form layout
$form-header-height: 50px !default;
$form-header-z-index: 97 !default;

:export {
  //菜单文字颜色变量导出
  menu-color: $base-menu-color;
  //菜单选中文字颜色变量导出
  menu-color-active: $base-menu-color-active;
  //菜单背景色变量导出
  menu-background: $base-menu-background;
}
